REACT_APP_BINANCE_WS_URL=wss://stream.binance.com:9443/ws
REACT_APP_COINGECKO_API_URL=https://api.coingecko.com/api/v3
VITE_BINANCE_WS_URL=wss://stream.binance.com:9443/ws
VITE_COINGECKO_API_URL=https://api.coingecko.com/api/v3
